<div data-section-id="{{ section.id }}" data-section-type="section-slideshow-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-slideshow-v1">
    <div class="slick-side-h1 js-slideshow-v1">       
      {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
      {% if block.type == "slideshow" %}
      <div class="itemv-slide-h1">
        <div class="picture-slideshow">
          {% if block.settings.block_bg_image != blank %}
          <img src="{{block.settings.block_bg_image | img_url: 'master'}}" class="img-responsive img_slideh1" alt="">
          {% else %}
          <img src="//via.placeholder.com/1881x967" class="img-fluid img_slideh3" alt="slideshow">
          {% endif %}
        </div>
        <div class="info-slideh1">
          <div class="box-content">
            <div class="box-info box-info-{{block.id}}">                          
              {% if block.settings.block_subtitle != blank %}
              <div class="box-subtitle box-subtitle-{{block.id}} animated">
                <p class="subtitle-slide" style="color:{{block.settings.color_block_subtitle}};">
                  {{ block.settings.block_subtitle }}
                </p>
              </div>
              {% endif %}
              
              {% if block.settings.block_title != blank %}
              <div class="box-title box-title-{{block.id}} animated">
                <h2 class="title-slide" style="color:{{block.settings.color_block_title}};">
                  {{ block.settings.block_title }}
                </h2>
              </div>
              {% endif %}
              {% if block.settings.block_desc != blank %}
              <div class="box-desc box-desc-{{block.id}} animated">
                <p style="color:{{block.settings.color_block_desc}};">
                  {{block.settings.block_desc}}
                </p>
              </div>
              {% endif %}
              
              <div class="box-button-video">
                <div class="box-button animated">
                  {% if block.settings.block_buton != blank %}
                  <a class="button-main1 button-{{block.id}}" href="{{block.settings.block_url}}">
                    {{ block.settings.block_buton }}
                  </a>
                  {% endif %}
                </div>
                <div class="video d-flex align-items-center animated">
                  <a class="d-block" data-fancybox href="{{block.settings.url_video}}"> 
                    <span class="box-btn">
                      <i class="fa fa-play"></i>
                    </span>
                  </a>
                  <p style="color:{{block.settings.bg_color_button}}" class="mb-0">
                    {% if block.settings.text_video %}
                    {{block.settings.text_video}}
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<style>
  {% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
  {% if block.type == "slideshow" %}
  .section-slideshow-v1 .itemv-slide-h1 .info-slideh1 .box-content .box-button .button-{{block.id}} {
    color : {{block.settings.color_button}};
    background: {{block.settings.bg_color_button}};
  }
  .section-slideshow-v1 .itemv-slide-h1 .info-slideh1 .box-content .box-button .button-{{block.id}}:hover{
    color : {{block.settings.color_button_hover}};
    background: {{block.settings.bg_color_button_hover}};
  }
  {% endif %}
  {% endfor %}
  {% endif %}
</style>
{% schema %}
{
  "name": "SLIDESHOW V1",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "slideshow",
      "name": "Slideshow item",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_bg_image",
          "label": "Background slideshow",
          "info": "1881 x 967px recommended"
        },
        {
          "type": "text",
          "id": "block_subtitle",
          "label": "Subtitle slideshow",
          "default": "Kitchen Store"
        },
        {
          "type": "color",
          "id": "color_block_subtitle",
          "label": "Color Subtitle slideshow",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "block_title",
          "label": "Title slideshow",
          "default": "Cooking Kitchen<br>Collection",
          "info": "Down the line use html tag: <br>. Example: Cooking Kitchen<br>Collection"
        },
        {
          "type": "color",
          "id": "color_block_title",
          "label": "Color Title slideshow",
          "default": "#000"
        },
        {
          "type": "textarea",
          "id": "block_desc",
          "label": "Description slideshow",
          "default": "Pressure Cooker is the best thing that ever<br>happened to your cooking. Plus, it's easy to use."
        },
        {
          "type": "color",
          "id": "color_block_desc",
          "label": "Color Description slideshow",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "block_buton",
          "label": "Button slideshow",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "block_url",
          "label": "URL button slideshow",
          "default": "/collections/all"
        },
        {
          "type": "header",
          "content": "Background & color button"
        },
        {
          "type": "color",
          "id": "color_button",
          "label": "Color button",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "bg_color_button",
          "label": "Background button",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "color_button_hover",
          "label": "Color button hover",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "bg_color_button_hover",
          "label": "Background button hover",
          "default": "#f8c461"
        },
        {
          "type": "header",
          "content": "Video"
        },
        {
          "type": "url",
          "id": "url_video",
          "label": "URL Video",
          "info": "[Upload video .mp4 in here](/admin/settings/files)"
        },
        {
          "type": "text",
          "id": "text_video",
          "label": "Text Video",
          "default": "View Video"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SLIDESHOW V1",
      "category": "HOME",
      "blocks": [
        {
          "type": "slideshow",
          "settings": {
            "block_subtitle": "Kitchen Store",
            "block_title": "Cooking Kitchen<br>Collection",
            "block_desc": "Pressure Cooker is the best thing that ever<br>happened to your cooking. Plus, it's easy to use."
          }
        },
        {
          "type": "slideshow",
          "settings": {
            "block_subtitle": "Best Product",
            "block_title": "Kitchen Tool<br>Collection",
            "block_desc": "Pressure Cooker is the best thing that ever<br>happened to your cooking. Plus, it's easy to use."
          }
        }   
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
