<div data-section-id="{{ section.id }}" data-section-type="section-video-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-video-v1 mt-all" style="background: {{section.settings.bg_section}}">
    <div class="container contaier-v2">
      <div class="text-center content_heading">
        {% if section.settings.title_heading != blank %}
        <h3 class="title_heading" style="color: {{section.settings.color_heading}}">{{section.settings.title_heading}}</h3>
        {% endif %}
        {% if section.settings.sub_heading != blank %}
        <p class="sub_heading mb-0" style="color: {{section.settings.color_sub_heading}}">{{section.settings.sub_heading}}</p>
        {% endif %}
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12">
        <div class="box-video">
          <a data-fancybox href="{{section.settings.section_video_url}}">              
            {% if section.settings.banner_img != blank %}
            <img data-src="{{section.settings.banner_img|img_url:'master'}}" class="lazyload img-fluid w-100" alt="_img_banner_">
            {% else %}
            <img data-src="//via.placeholder.com/1920x620" class="lazyload img-fluid w-100" alt="_img_banner_">
            {% endif %}
            <span class="box-btn">
              <span class="btn-banner">
                <i class="fa fa-play"></i>
                <span class="line-video line-1"></span>
                <span class="line-video line-2"></span>
                <span class="line-video line-3"></span>
              </span>
            </span>
          </a>        
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}{
"name": "VIDEO V1",
"settings": [
  {
    "type": "header",
    "content": "Banner Image"
  },
  {
    "type": "color",
    "id": "bg_section",
    "label": "Background section",
    "default": "#000"
  },
  {
    "type": "text",
    "id": "title_heading",
    "label": "Title Heading",
    "default": "Our Story"
  },
  {
    "type": "color",
    "id": "color_heading",
    "label": "Color",
    "default": "#fff"
  },
  {
    "type": "text",
    "id": "sub_heading",
    "label": "Title Heading",
    "default": "Our purpose is to build solutions that remove barriers preventing people<br> from doing their best work, and this is at the heart."
  },
  {
    "type": "color",
    "id": "color_sub_heading",
    "label": "Color",
    "default": "#fff"
  },
  {
    "type": "image_picker",
    "id": "banner_img",
    "info": "1920 x 620px recommended",
    "label": "Banner Image"
  },
  {
    "type": "header",
    "content": "Video"
  },
  {
    "type": "url",
    "id": "section_video_url",
    "label": "URL Video",
    "info": "[Upload video .mp4 in here](/admin/settings/files)"
  },
  {
    "type": "header",
    "content": "Section Space"
  },
  {
    "type": "text",
    "id": "margin_top",
    "label": "Margin Top",
    "info": "Defined in pixels. Do not add the 'px' unit."
  },
  {
    "type": "text",
    "id": "margin_bottom",
    "label": "Margin Bottom",
    "info": "Defined in pixels. Do not add the 'px' unit."
  }
],
"presets": [
  {
    "name": "VIDEO V1",
    "category": "HOME"
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
